.form {
  margin: 0 auto 50px;
}

.productsInputs {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.productsInput {
  width: 230px;
}

.productsAmountInputContainer {
  display: flex;
}

.productsLabel {
  min-width: 230px;
}

.measurementUnit {
  align-self: center;
  margin-left: 20px;
}

.cookingTime {
  display: flex;
}

.cookingTimeUnit {
  align-self: center;
  margin-bottom: 35px;
}

.cookingTimeLabel {
  min-width: 230px;
}

.productsAmountValue {
  max-width: 100px;
}

.productsTimeInput {
  margin-right: 10px;
}

.productsNameInput,
.productsAmountInput,
.measurementUnit {
  margin-bottom: 20px;
}

.productAdd {
  cursor: pointer;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 230px;
  text-decoration: underline;
}

.productsAdded {
  padding-left: 230px;
  text-align: left;
}

.productsAddedItemTitle {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 4px;
}

.fileInput {
  margin-bottom: 72px;
}

.button {
  font-size: 18px;
}

.productsAddedItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.productsAddedItemRemove {
  padding-left: 20px;
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .productsInputs {
    display: block;
    text-align: left;
  }

  .productAdd {
    padding-left: 0px;
  }

  .checkboxGroup {
    display: block;
  }

  .checkboxGroupLabel {
    margin-bottom: 10px;
  }

  .checkboxGroupTags {
    display: block;
  }

  .checkboxGroupItem {
    margin-bottom: 6px;
  }

  .cookingTime {
    display: block;
    text-align: left;
  }

  .productsAdded {
    padding-left: 0px;
  }
}